/********************************************

WEBSITE MINIMAL CSS

Structure:
1.- Defaults
2.- Main
3.- Frontpage
4.- Work
4.- People

*********************************************/


/*** 1.- DEFAULTS ***/

html {
	height: 100%;
}

body {
	margin: 0;
	padding: 0;
	color: #666;
	font-family: 'Andada', serif;
	font-size: 14px;
}

a {
	color: #717279;
	text-decoration: none;
}

h1 {
	margin: 30px 0 10px 0;
	font-size: 20px;
}

h2 {
	margin: 0 0 5px 0;
	font-size: 16px;
}

p {
	margin: 0 0 10px 0;
}


/*** 2.- MAIN ***/

#notification {
    display: none;
    position: absolute;
    top: 0;
    width: 100%;
    padding: 5px 0;
    background-color: #999;
    color: #fff;
    text-align: center;
    font-size: 15px;
}

#logo {
    cursor: pointer;
    float: left;
    margin-top: 13px;
    color: #ddd;
    text-align: right;
    font-size: 55px;
    line-height: 80%;
}

#templates {
	display: none;
}

#page {
	position: relative;
	width: 900px;
}

#site {
    position: relative;
	width: 900px;
	height: 800px;
	margin: 0 auto;
}

#header {
	border: 1px solid #fff;
    padding-top: 25px;
}

#menu {
	height: 20px;
	margin: 77px 0 0 72px;
	border-bottom: 3px solid #ddd;
	list-style-type: none;
	text-align: right;
}

#menu li {
	cursor: pointer;
	display: inline;
	height: 20px;
	padding: 0 5px;
	list-style-type: none;
	text-align: center;
	font-size: 15px;
}

#menu li:hover {
	color: #bbb;
}


/*** 3.- FRONTPAGE ***/

.frontpage {
	position: absolute;
	width: 900px;
}

.frontpage .banner {
    cursor: pointer;
	height: 150px;
    border: 2px dotted #999;
	margin-bottom: 20px;
	padding-top: 60px;
	color: #EEE;
	background-color: #ddd;
	text-align: center;
	font-size: 75px;
}

.frontpage .banner:hover {
    color: #FFF;
}

.frontpage .about,
.frontpage .services,
.frontpage .news {
	float: left;
	width: 280px;
	height: 110px;
	border-bottom: 3px solid #ddd;
	margin: 0 30px 20px 0;
}

.frontpage .news {
	margin-right: 0;
}

.frontpage .story {
	clear: both;
	border-right: 280px solid #ddd;
	padding-right: 30px;
	margin-bottom: 20px;
	color: #999;
}

.frontpage .closing {
    clear: both;
	height: 20px;
	padding: 30px;
	background-color: #eee;
	text-align: center;
	font-size: 13px;
}


/*** 4.- WORK ***/

.work {
	position: absolute;
	width: 900px;
}

.work .story {
	clear: both;
	border-left: 280px solid #ddd;
	padding-left: 30px;
	margin-bottom: 20px;
	color: #999;
}

.work .intro {
	clear: both;
	margin-bottom: 20px;
	color: #999;
}

.work .banner {
    cursor: pointer;
	height: 150px;
    border: 2px dotted #999;
	margin-bottom: 20px;
	padding-top: 60px;
	color: #eee;
	background-color: #ddd;
	text-align: center;
	font-size: 75px;
}

.work .banner:hover {
    color: #fff;
}

.work .more,
.work .references {
	float: left;
	width: 280px;
	height: 110px;
	border-bottom: 3px solid #ddd;
	margin: 0 30px 20px 0;
}

.work .image {
	float: left;
	width: 280px;
	height: 113px;
	margin-bottom: 20px;
	background-color: #ddd;
}


/*** 5.- PEOPLE ***/

.people {
	position: absolute;
	width: 900px;
}

.people .story {
	clear: both;
	padding-right: 30px;
	margin-bottom: 20px;
	color: #999;
}

.people .closing {
	clear: both;
	height: 20px;
	padding: 30px;
	background-color: #eee;
	text-align: center;
	font-size: 13px;
}